.fr-collapse,
.fr-collapse--expanded,
.fr-collapsing,
.fr-collapse::before {
  transition: none !important;
}

.fc-text--center {
  text-align: center;
}

/* <code> elements look like normal `code` markdown and not that ugly Monospace default */
code {
  font-family: inherit; /* Remove the monospace font */
  font-size: 0.95em;
  background-color: #f5f5f5;
  color: #d63384;
  padding: 0em 0.35em;
  border-radius: 0.3em;
  border: 1px solid #e0e0e0;
}
